.card {
  width: 30%;
}

.categories {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 100%;
}

.noCategories {
  margin: auto;
  margin-top: 200px;
}

.category {
  min-height: 300px;
  margin: auto;
  overflow-y: auto;
}
